[scenario]
description="Nasi bohaterowie wyruszają w podróż poprzez góry w sobie tylko wiadomym celu."
id="ab-act1"
map_file="act1.map"
name="Początek drogi"
# next_scenario=ab-act2
carryover_percentage=50
carryover_add=yes    
victory_when_enemies_defeated=yes
turns={BY_DIFFICULTY 48 42 36}

{DEFAULT_SCHEDULE}

[item]
    image="scenery/signpost.png"
    submerge=1
    visible_in_fog=yes
    x=58
    y=2
[/item]

[time_area]
    current_time=0
    id="dwarven-land"
    x="16,17,18,19,   20,20,21,   22,26,26,27,28,29,   32,   33,34,36,37,38"
    y="16,11,10,19-20,18,21,21-22,9, 14,26,20,13,13-14,13-14,14,21,14,28,18"

    {DEFAULT_SCHEDULE}
[/time_area]

[time_area]
    current_time=0
    id=adventurer-goal
    x="54,55,56,57,58,59,60,61"
    y="0,1,0-1,1-2,0-2,1-3,0-3,1-4"

    {DEFAULT_SCHEDULE}
[/time_area]

[side]
    controller=human
    color=red
    faction=ab-humans
    faction_lock=no
    leader_lock=no
    fog=yes
    shroud=yes
    gold=150
    hidden=no
    income=0
    share_vision=all
    side=1
    save_id=adv1
    team_name=1
    user_team_name=Bohaterowie
    defeat_condition=never
    [leader]
        id=adv1
        x,y=2,34
    [/leader]
[/side]
[side]
    controller=human
    color=blue
    faction=ab-elves
    faction_lock=no
    leader_lock=no
    fog=yes
    shroud=yes
    gold=150
    hidden=no
    income=0
    share_vision=all
    side=2
    save_id=adv2
    team_name=1
    user_team_name=Bohaterowie
    [leader]
        id=adv2
        x,y=10,39
    [/leader]
[/side]
#ifdef AAB_3P
[side]
    controller=human
    color=green
    faction=ab-magi
    faction_lock=no
    leader_lock=no
    fog=yes
    shroud=yes
    gold=150
    hidden=no
    income=0
    share_vision=all
    side=3
    save_id=adv3
    team_name=1
    user_team_name=Bohaterowie
    [leader]
        id=adv3
        x,y=5,39
    [/leader]
[/side]
#endif
[side]
    allow_player=false
    controller=ai
    faction=Custom
    faction_lock=true
    color=black
    gold={BY_DIFFICULTY 300 500 1000}
    hidden=yes
    income=0
    no_leader=yes
    share_vision=all
    shroud=no
    fog=no
    {NECROMANCER}
    side_name="Nekromanta"
    team_name=2
    recruit=Vampire Bat
    [leader]
        type=Dark Sorcerer
        x,y=7,5
    [/leader]
    [ai]
        [avoid]
            area="dwarven-land"
        [/avoid]
    [/ai]
    [variables]
        [tactics]
            type=random
            [tactic]
                role=assassin
                weight=3
            [/tactic]
            [tactic]
                role=hunter
                weight=2
            [/tactic]
            [tactic]
                role=exit-guard
                weight=1
            [/tactic]
            [tactic] # no particular role
                weight=1
            [/tactic]
        [/tactics]
    [/variables]
[/side]
[side]
    allow_player=false
    controller=ai
    faction=Custom
    faction_lock=true
    color=brown
    gold={BY_DIFFICULTY 300 500 1000}
    hidden=yes
    income=0
    no_leader=yes
    share_vision=all
    shroud=no
    fog=no
    {ORC}
    side_name="Wódz orków"
    team_name=2
    recruit=Goblin Spearman
    [leader]
        type=Orcish Ruler
        x,y=52,37
    [/leader]
    [ai]
        [avoid]
            area="dwarven-land"
        [/avoid]
    [/ai]
    [variables]
        [tactics]
            type=random
            [tactic]
                role=assassin
                weight=2
            [/tactic]
            [tactic]
                role=hunter
                weight=3
            [/tactic]
            [tactic]
                role=exit-guard
                weight=1
            [/tactic]
            [tactic] # no particular role
                weight=1
            [/tactic]
        [/tactics]
    [/variables]
[/side]
[side]
    allow_player=false
    controller=ai
    faction=Custom
    faction_lock=true
    color=white
    fog=yes
    gold=200
    hidden=yes
    income=0
    no_leader=yes
    share_vision=all
    shroud=no
    {DWARVES}
    team_name=3
    user_team_name=Krasnale
    recruit=Dwarvish Guardsman,Dwarvish Thunderer
    [leader]
        id=dwarf-lord
        name=Thori
        renamable=false
        type=Dwarvish Steelclad
        x,y=20,11
    [/leader]
    [ai]
        aggression=0.1
        grouping=defensive
        leader_aggression=0.25
        passive_leader=no
        retreat_factor=0.5
        support_villages=yes
        [avoid]
            [not]
                area="dwarven-land"
            [/not]
        [/avoid]
    [/ai]
    [variables]
        [tactics]
            type=most_required
            [tactic]
                role=first_gate
                required_count=5
            [/tactic]
            [tactic]
                role=second_gate
                required_count=5
            [/tactic]
        [/tactics]
    [/variables]
[/side]
[side]
    allow_player=false
    controller=ai
    faction=Custom
    faction_lock=true
    color=teal
    gold=0
    hidden=yes
    income=0
    no_leader=yes
    share_vision=all
    shroud=no
    fog=no
    {MONSTERS}
    side_name="Potwory"
    team_name=2
[/side]

#ifdef AAB_2P
[lua]
    code=<< 
    wesnoth.dofile("~add-ons/above-and-below/lua/act1/setup-2p.lua")
    wesnoth.dofile("~add-ons/above-and-below/lua/act1/setup.lua") >>
[/lua]
#else
[lua]
    code=<< 
    wesnoth.dofile("~add-ons/above-and-below/lua/act1/setup-3p.lua")
    wesnoth.dofile("~add-ons/above-and-below/lua/act1/setup.lua") >>
[/lua]
#endif

[event]
    id=setup
    name=prestart

    [set_variable]
        name=toll_per_unit
        value={BY_DIFFICULTY 10 25 50}
    [/set_variable]

    [lua]
        code=<< wesnoth.dofile("~add-ons/above-and-below/lua/act1/prestart.lua") >>
    [/lua]

    [micro_ai]
        ca_id=bat_assassin
        ai_type=assassin
        {ENEMIES}
        action=add
        [filter]
            type=Vampire Bat,Goblin Spearman
            role=assasin
        [/filter]
        [filter_second]
            {PLAYER_SIDES}
            canrecruit=yes
        [/filter_second]
    [/micro_ai]

    [micro_ai]
        ca_id=exit_guard
        ai_type=zone_guardian
        {ENEMIES}
        action=add
        [filter]
            type=Vampire Bat,Goblin Spearman
            role=hunter
        [/filter]
        [filter_location]
            x=50-60
            y=0-10
        [/filter_location]
    [/micro_ai]

    [micro_ai]
        ca_id=bat_hunter
        ai_type=zone_guardian
        {NECROMANCER}
        action=add
        [filter]
            type=Vampire Bat
            role=hunter
        [/filter]
        [filter_location]
            x=0-12,0-60
            y=0-40,0-7
        [/filter_location]
    [/micro_ai]

    [micro_ai]
        ca_id=goblin_hunter
        ai_type=zone_guardian
        {ORC}
        action=add
        [filter]
            type=Vampire Bat
            role=hunter
        [/filter]
        [filter_location]
            x=48-60,0-60
            y=0-40,33-60
        [/filter_location]
    [/micro_ai]

    [micro_ai]
        ca_id=dwarven_first_gate
        ai_type=bottleneck_defense
        {DWARVES}
        action=add
        [filter]
            role="first_gate"
        [/filter]
        x=18,19,20,21,20,20,21
        y=18,19,18,21,21,22,23
        enemy_x=18,19,20,19,19,20,20
        enemy_y=19,20,20,21,22,22,23
    [/micro_ai]
    
    [micro_ai]
        ca_id=dwarven_second_gate
        ai_type=bottleneck_defense
        {DWARVES}
        action=add
        [filter]
            role="second_gate"
        [/filter]
        x=28,29,29,32,32,33
        y=13,14,13,13,14,15
        enemy_x=28,29,30,31,32,33
        enemy_y=14,15,14,15,15,16
    [/micro_ai]

    [micro_ai]
        ca_id=sneaky_wolves
        ai_type=wolves_multipacks
        {MONSTERS}
        action=add
        [avoid]
            x=13-55
            y=9-27
            [or]
                terrain=!,*^Fp
            [/or]
        [/avoid]
        pack_size=5
        type=Sneaky_Wolf
    [/micro_ai]

    [objectives]
        side=0
        victory_string="Zwycięstwo"
        defeat_string="Porażka"
        summary="Pokonać jeden ze szlaków prowadzących w głąb gór."
        note="W górach żyją klany karsnoludów, społeczni wykolejeńcy i cholera wie, co jeszcze."
        [objective]
            condition=win
            description="Dotrzeć bohaterem do przeciwległego narożnika mapy."
            show_turn_counter=yes
        [/objective]
        [objective]
            condition=lose
            description="Śmierć jednego z bohaterów."
        [/objective]
    [/objectives]
[/event]

[event]
    id=intro
    name=start

    [lua]
        code=<< wesnoth.dofile("~add-ons/above-and-below/lua/act1/intro.lua") >>
    [/lua]
[/event]

[event]
    id=ai_recruitment
    name=recruit
    first_time_only=no
    [filter]
        [not]
            {PLAYER_SIDES}
        [/not]
    [/filter]
    [lua]
        code=<< ai_tactics:choose_tactics(wml.variables_proxy.unit) >>
    [/lua]
[/event]

[event]
    id=dwarf_dies
    name=die
    first_time_only=no
    [filter]
        {DWARVES}
    [/filter]
    [lua]
        code=<< ai_tactics:unit_lost(wml.variables_proxy.unit) >>
    [/lua]
[/event]

[event]
    id=encountering-dwarves
    name=sighted
    [filter]
        {PLAYER_SIDES}
    [/filter]
    [filter_second]
        {DWARVES}
    [/filter_second]
    [lua]
        code=<< wesnoth.dofile("~add-ons/above-and-below/lua/act1/dwarven_encounter.lua") >>
    [/lua]
[/event]

[event]
    id=orc-killed
    name=die
    [filter]
        {ORC}
        canrecruit=yes
    [/filter]
    [lua]
        code=<< wesnoth.dofile("~add-ons/above-and-below/lua/act1/orc_leader_killed.lua") >>
    [/lua]
[/event]

[event]
    id=necromancer-killed
    name=die
    [filter]
        {NECROMANCER}
        canrecruit=yes
    [/filter]
    [lua]
        code=<< wesnoth.dofile("~add-ons/above-and-below/lua/act1/necromancer_killed.lua") >>
    [/lua]
    [if]
        [variable]
            # This is a list of sides that can recruit dark adepts from now on
            # or 0, if the apprentice was rejected.
            name=can_recruit_dark_adepts
            equals=0 # the variable may hold a number or a string
        [/variable]
        [then]
            [event]
                id=dark-apprentice-killed
                name=die
                [filter]
                    id=dark-apprentice
                [/filter]
                [item]
                    name=necro_necklace
                    x="$unit.x"
                    y="$unit.y"
                    image="items/ankh-necklace.png"
                [/item]
            [/event]
        [/then]
        [else]
            [allow_recruit]
                type=Dark Adept
                side="$can_recruit_dark_adepts"
            [/allow_recruit]
        [/else]
    [/if]
    [clear_variable]
        name=can_recruit_dark_adepts
    [/clear_variable]
[/event]

# Victory and defeat conditions
[event]
    id=adventurer-reaches-goal
    name=moveto
    first_time_only=no

    [filter]
        {PLAYER_SIDES}
        canrecruit=yes

        [filter_location]
            include_borders=yes
            area=adventurer-goal
        [/filter_location]
    [/filter]

    [if]
        [have_unit]
            {PLAYER_SIDES}
            canrecruit=yes
            
            [filter_location]
                include_borders=yes
                area=adventurer-goal
            [/filter_location]

            count={PLAYER_COUNT}
        [/have_unit]
        [then]
            [message]
                speaker=unit
                message="Widzę, że jesteśmy w komplecie. Wynośmy się stąd!"
            [/message]
            [endlevel]
                result=victory
                carryover_report=yes
                reveal_map=no
            [/endlevel]
        [/then]
        [else]
            [message]
                speaker=unit
                message="Przed wyruszeniem w drogę należy zebrać drużynę!"
            [/message]
        [/else]
    [/if]
[/event]

[event]
    id=adventurer-defeated
    name=last_breath

    [filter]
        {PLAYER_SIDES}
        canrecruit=yes
    [/filter]

    [lua]
        code=<< wesnoth.dofile("~add-ons/above-and-below/lua/act1/defeat.lua") >>
    [/lua]
[/event]
[/scenario]