# Gondor's special units.

# Archers
[unit_type]
    id=Gondor Bowman # Copied Dar legion bownam from Ageless Era.
    name= _ "Gondor Bowman"
    race=human
    gender=male
    image="units/human-dark/bow-bowman.png"
    hitpoints=34
    movement_type=smallfoot
    movement=5
    experience=36
    level=1
    alignment=lawful
    advances_to=Gondor Longbowman,Gondor Crossbowman
    undead_variation=archer
    cost=15
    usage=archer
    description= _ "This unit is from the Dark Legion faction. Its coding and art were done by Aethaeryn and  Neoskel."
    {DEFENSE_ANIM "units/human-dark/bow-bowman.png" "units/human-dark/bow-bowman.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=hatchet
        description={STR_HATCHET}
        icon=attacks/hatchet.png
        type=blade
        range=melee
        damage=5
        number=2
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=6
        number=3
    [/attack]
    [attack]
        name=bow-flammable
        description={STR_BOW}
        type=fire
        range=ranged
        damage=7
        number=2
        icon=attacks/bow.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hatchet
        [/filter_attack]
        start_time=-260
        offset=0.0~0.6:260,0.6~0.6:100,0.6~0.0:150
        [frame]
            duration=80
            image="units/human-dark/bow-bowman.png"
        [/frame]
        [frame]
            duration=80
            image="units/human-dark/bow-bowman.png"
        [/frame]
        [frame]
            duration=50
            image="units/human-dark/bow-bowman.png"
        [/frame]
        [frame]
            duration=50
            image="units/human-dark/bow-bowman.png"
        [/frame]
        [frame]
            duration=50
            image="units/human-dark/bow-bowman.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=50
                image="units/human-dark/bow-bowman.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=50
                image="units/human-dark/bow-bowman.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/human-dark/bow-bowman.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-dark/bow-bowman.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        start_time=-445
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            duration=65
            image="units/human-dark/bow-bowman.png"
        [/frame]
        [frame]
            duration=75
            image="units/human-dark/bow-bowman.png"
        [/frame]
        [frame]
            duration=75
            image="units/human-dark/bow-bowman.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/human-dark/bow-bowman.png"
                sound=bow-puny-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/human-dark/bow-bowman.png"
                sound=bow-puny.ogg
            [/frame]
        [/else]
        [frame]
            duration=130
            image="units/human-dark/bow-bowman.png"
        [/frame]
        [frame]
            duration=65
            image="units/human-dark/bow-bowman.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow-flammable
        [/filter_attack]
        start_time=-445
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            duration=65
            image="units/human-dark/bow-bowman.png"
        [/frame]
        [frame]
            duration=75
            image="units/human-dark/bow-bowman.png"
        [/frame]
        [frame]
            duration=75
            image="units/human-dark/bow-bowman.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/human-dark/bow-bowman.png"
                sound=bow-puny-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/human-dark/bow-bowman.png"
                sound=bow-puny.ogg
            [/frame]
        [/else]
        [frame]
            duration=130
            image="units/human-dark/bow-bowman.png"
        [/frame]
        [frame]
            duration=65
            image="units/human-dark/bow-bowman.png"
        [/frame]
    [/attack_anim]
[/unit_type]

[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Crossbowman
    [/base_unit]
    id=Gondor Crossbowman

    alignment=lawful
    advances_to=Gondor Advanced Crossbowman
[/unit_type]

[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Advanced_Crossbowman
    [/base_unit]
    id=Gondor Advanced Crossbowman

    alignment=lawful
[/unit_type]

[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Longbowman
    [/base_unit]
    id=Gondor Longbowman

    alignment=lawful
    advances_to=Gondor Heavy Longbowman

    [attack]
        name=hatchet
        description={STR_HATCHET}
        icon=attacks/axe.png
        type=blade
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=10
        number=3
    [/attack]
    [attack]
        name=bow-poison
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=3
        number=3
        icon=attacks/bow.png
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
[/unit_type]

[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Heavy_Longbowman
    [/base_unit]
    id=Gondor Heavy Longbowman

    alignment=lawful

    [attack]
        name=hatchet
        description={STR_HATCHET}
        icon=attacks/axe.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=11
        number=4
    [/attack]
    [attack]
        name=bow-poison
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=5
        number=4
        icon=attacks/bow.png
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
[/unit_type]

# Cavalry
[unit_type]
    [base_unit]
        id=Cavalryman
    [/base_unit]
    id=Gondor Cavalryman

    advances_to=Dragoon,Gondor Knight
[/unit_type]

[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Knight
    [/base_unit]
    id=Gondor Knight

    alignment=lawful
    advances_to=Gondor Cavalier
[/unit_type]

[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Cavalier
    [/base_unit]
    id=Gondor Cavalier

    alignment=lawful
[/unit_type]

# Swordmen
[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Soldier
    [/base_unit]
    id=Gondor Soldier

    alignment=lawful
    advances_to=Gondor Longswordman,Gondor Fighter
[/unit_type]

[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Longswordsman
    [/base_unit]
    id=Gondor Longswordman

    alignment=lawful
    advances_to=Gondor Champion
[/unit_type]

[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Champion
    [/base_unit]
    id=Gondor Champion

    alignment=lawful
[/unit_type]

[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Fighter
    [/base_unit]
    id=Gondor Fighter

    alignment=lawful
    advances_to=Gondor Warrior
[/unit_type]

[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Warrior
    [/base_unit]
    id=Gondor Warrior

    alignment=lawful
[/unit_type]

# Spearmen
[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Spearman
    [/base_unit]
    id=Gondor Spearman

    alignment=lawful
    advances_to=Gondor Halberdier
[/unit_type]

[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Halberdier
    [/base_unit]
    id=Gondor Halberdier

    alignment=lawful
    advances_to=Gondor Deathmaster
[/unit_type]

[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Deathmaster
    [/base_unit]
    id=Gondor Deathmaster

    alignment=lawful
[/unit_type]

# Heavy infantry
[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Trooper
    [/base_unit]
    id=Gondor Trooper

    alignment=lawful
    advances_to=Gondor Crusher,Gondor Guardian
[/unit_type]

[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Crusher
    [/base_unit]
    id=Gondor Crusher

    alignment=lawful
[/unit_type]

[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Guardian
    [/base_unit]
    id=Gondor Guardian

    alignment=lawful
    advances_to=Gondor Terror
[/unit_type]

[unit_type]
    [base_unit]
        id=AE_agl_dark_legion_Terror
    [/base_unit]
    id=Gondor Terror

    alignment=lawful
[/unit_type]
